/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/herosection.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

.herosection_main_section__UvT51{
    position: relative;
    background: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);
    background-size: 400% 400%;
    /*animation: gradient-bg 20s ease infinite;*/
}

/*@keyframes gradient-bg {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/

.herosection_hero_content__t4hc_{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.herosection_hero_content__t4hc_ h1{
    text-transform:uppercase;
    font-size: 4.8rem;
    color: #000;
}

.herosection_hero_content__t4hc_ p{
    margin: 2rem 0 4rem 0;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: 1.65;
    /*font-family: 'Mulish', sans-serif;*/
}

.herosection_hero_image__fAvwi{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.herosection_hero_image__fAvwi img{
    max-width: 100%;
    height: auto;
}

/*waves effect */
.herosection_custom-shape-divider-bottom-1681647578__hgxsZ {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.herosection_custom-shape-divider-bottom-1681647578__hgxsZ svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.herosection_custom-shape-divider-bottom-1681647578__hgxsZ .herosection_shape-fill__ldbBI {
    fill: #FFFFFF;
}


@media screen and (max-width:768px) {

    .herosection_hero_content__t4hc_{
      order: 1;
    }


    .herosection_hero_image__fAvwi{
        justify-content: center;
        order: 0;
    }

    .herosection_hero_image__fAvwi img{
        width: 40%;
    }


    /*!*waves effect *!*/
    /*.custom-shape-divider-bottom-1681647578 {*/
    /*   display: none;*/
    /*}*/


}
